.filters{
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    justify-content: flex-end;
    display: flex;
}
.button{
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: 0;
    border-radius: 4px;
    /* float: right; */
    margin: 11px 30px 11px auto;
    /* margin-right: auto; */
    justify-content: center;
    font-size: 18px;
    /* font-weight: 600; */
    /* border-top: 0cm; */
}
.button:hover{
    opacity: 90%;
}
.loc-container{
    display: flex;
    /* justify-content: flex-end; */
    width: 1000px;
    height: 100%;
}
.locations, .amenities{
    height: 100%;
    width: 25%;
    display: flex;
    position: relative;
    text-align: left;
    flex-direction: column;
    justify-content: center;
    padding: 3em;
}
.locations{
    border-right: 1px solid #DDDDDD;
}
.locations-title{
    font-weight: 600;
    margin: 0px;
}
.amenities-title{
    font-weight: 400;
    font-size: 14px;
    margin: 0px;
}